h3=__('Activity')
  small  {{ activity._id }}
.table-responsive
  table.table.table-striped
    tr
      td=__('Name')
      td {{ activity.name }}
    tr
      td=__('Code')
      td {{ activity.code }}
    tr
      td=__('Context(Sub Activitys)')
      td 
        span(ng-repeat="activity in activity._activitys") {{ activity.name }} 
    tr
      td=__('Description')
      td {{ activity.description }}
.form-group
  button.btn.btn-primary(type='button', ng-click='share.window("createOrUpdateActivity");')=__('Edit')
  | 
  button.btn.btn-danger(type='button', ng-click='activity.$delete(); clearActivity(); queryActivity(); countActivity(); share.window("listActivity");')=__('Remove')
  | 
  button.btn.btn-default(type='button', ng-click='clearActivity(); queryActivity(); share.window("listActivity")')=__('List')