.row
  .col-md-12.text-center
    .btn-group
      button.btn.btn-default(ng-model="dataList.page.limit", btn-radio="10") 10
      button.btn.btn-default(ng-model="dataList.page.limit", btn-radio="25") 25
      button.btn.btn-default(ng-model="dataList.page.limit", btn-radio="50") 50
      button.btn.btn-default(ng-model="dataList.page.limit", btn-radio="100") 100
      button.btn.btn-default=__('Copy')
      button.btn.btn-default=__('Print')
      button.btn.btn-default Csv
      button.btn.btn-default Pdf
      button.btn.btn-default Txt
.row
  .col-md-12(collapse="notFilter")
    include activity_filter
  .col-md-12
    button.btn.btn-default.btn-block.btn-xs(ng-click="notFilter = !notFilter")=__('FILTER')
.row
  .col-md-12
    .table-responsive
      table.table.table-striped
        thead
          tr
            th(ng-class="dataList.sortClass('name')", ng-click="dataList.sortBy('name'); queryActivity();")=__('Name')
            th(ng-class="dataList.sortClass('code')", ng-click="dataList.sortBy('code'); queryActivity();")=__('Code')
            th(ng-class="dataList.sortClass('activitys')", ng-click="dataList.sortBy('activitys'); queryActivity();")=__('Context(Sub Activitys)')
            th=__('Description')
            th(class="table-actions")=__('Actions')
        tbody
          tr(ng-repeat="activity in dataList.data")
            td {{ activity.name }} 
            td {{ activity.code }}
            td 
              span(ng-repeat="activity in activity.activitys") {{ activity.name }} 
            td {{ activity.description }} 
            td
              button.btn.btn-danger.btn-xs.icon.icon-trash(type='button', ng-click='destroyActivityByIndex($index); queryActivity();') 
              | 
              button.btn.btn-primary.btn-xs.icon.icon-edit(type='button', ng-click='selectActivity($index); share.window("createOrUpdateActivity");') 
              | 
              button.btn.btn-info.btn-xs.icon.icon-plus(type='button', ng-click='selectActivity($index); share.window("showActivity");') 
.row
  .col-md-6.text-left
    p=__('Listing {{ dataList.status.listing }} of {{ dataList.status.filtered }} filtered on {{ dataList.status.totality }} registers')
  .col-md-6.text-right
    pagination(style="margin: 0px;", items-per-page="dataList.page.limit", page="dataList.page.current", max-size="5"
      total-items="dataList.status.filtered ? dataList.status.filtered : dataList.status.totality", class="pagination", 
      previous-text=__('Previous'), next-text=__('Next'), first-text=__('First'), last-text=__('Last'), boundary-links="true")