mixin form_fields_user_common()

  .form-group(ng-class="{'has-error': errors.user.username}")
    input.form-control(type='text', ng-model="user.username", placeholder=__('User Name')) 
    span.help-block.ng-hide(ng-show="errors.user.username")='{{ errors.user.username }}'

  .form-group(ng-class="{'has-error': errors.user.email}")
    input.form-control(type='text', ng-model="user.email", placeholder=__('Email')) 
    span.help-block.ng-hide(ng-show="errors.user.email")='{{ errors.user.email }}'

mixin form_fields_user_profile()

  +form_fields_user_common()

  .form-group(ng-class="{'has-error': errors.user.currentPassword}")
    input.form-control(type='password', ng-model='user.currentPassword', placeholder=__('Current password')) 
    span.help-block.ng-hide(ng-show="errors.user.currentPassword")='{{ errors.user.currentPassword }}'

  .form-group(ng-class="{'has-error': errors.user.newPassword}")
    input.form-control(type='password', ng-model='user.newPassword', placeholder=__('New password')) 
    span.help-block.ng-hide(ng-show="errors.user.newPassword")='{{ errors.user.newPassword }}'

  .form-group(ng-class="{'has-error': errors.user.confirmNewPassword}")
    input.form-control(type='password', ng-model='user.confirmNewPassword', placeholder=__('Confirm new password')) 
    span.help-block.ng-hide(ng-show="errors.user.confirmNewPassword")='{{ errors.user.confirmNewPassword }}'

mixin form_fields_user()

  +form_fields_user_common()

  .form-group(ng-class="{'has-error': errors.user.activitys}")
    .input-group
      select.form-control(ui-select2, ng-model="user.activitys", data-placeholder=__('Activitys'), multiple='true')

        option.form-control(value='{{activity._id }}', ng-repeat='activity in activitys') {{ activity.name }}
      span.input-group-btn
        button.btn.btn-default(ng-class="{'btn-danger': errors.user.activitys}", ng-click='user = user != null ? user : {}; share.refSaveObject({ schemaObject : "user", object : user != null ? user : {} });  ;user = user != null ? user : {}; share.refClean("activity"); share.refAdd({ schemaRef : "activity", refList : activitys, schemaObject : "user", object : user, objectField: user, field: "activitys", isArray : true }); share.window("createOrUpdateActivity");') + 
    span.help-block.ng-hide(ng-show="errors.user.activitys")='{{ errors.user.activitys }}'

  .form-group(ng-class="{'has-error': errors.user.enabled}")
    label.checkbox-inline
      input(type='checkbox', ng-model="user.enabled" value='IS_ENABLED', checked='true') 
      =__('Enabled')
    span.help-block.ng-hide(ng-show="errors.user.enabled")='{{ errors.user.enabled }}'

  .form-group(ng-class="{'has-error': errors.user.newPassword}")
    input.form-control(type='password', ng-model='user.newPassword', placeholder=__('New password')) 
    span.help-block.ng-hide(ng-show="errors.user.newPassword")='{{ errors.user.newPassword }}'

  .form-group(ng-class="{'has-error': errors.user.confirmNewPassword}")
    input.form-control(type='password', ng-model='user.confirmNewPassword', placeholder=__('Confirm new password')) 
    span.help-block.ng-hide(ng-show="errors.user.confirmNewPassword")='{{ errors.user.confirmNewPassword }}'

mixin filter_fields_user() 

  .form-group(ng-class="{'has-error': errors.dataList.filter.username}")
    input.form-control(type='text', ng-model="dataList.filter.username", placeholder=__('User Name')) 
    span.help-block.ng-hide(ng-show="errors.dataList.filter.username")='{{ errors.dataList.filter.username }}'

  .form-group(ng-class="{'has-error': errors.dataList.filter.email}")
    input.form-control(type='text', ng-model="dataList.filter.email", placeholder=__('Email')) 
    span.help-block.ng-hide(ng-show="errors.dataList.filter.email")='{{ errors.dataList.filter.email }}'

  .form-group(ng-class="{'has-error': errors.dataList.filter.activitys}")
    select.form-control(ui-select2, ng-model="dataList.filter.activitys", data-placeholder=__('Activitys'), multiple='true')
      option.form-control(value='{{activity._id }}', ng-repeat='activity in activitys') {{ activity.name }}
    span.help-block.ng-hide(ng-show="errors.dataList.filter.activitys")='{{ errors.dataList.filter.activitys }}'

  .form-group(ng-class="{'has-error': errors.dataList.filter.enabled}")
    label.checkbox-inline
      input(type='checkbox', ng-model="dataList.filter.enabled" value='IS_ENABLED', checked='true') 
      =__('Enabled')
    span.help-block.ng-hide(ng-show="errors.dataList.filter.enabled")='{{ errors.dataList.filter.enabled }}'
         
